
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<div id="n__Log_in" onclick="application.goToTargetView(event)">
    <svg class="Rectangle_1">
        <rect id="Rectangle_1" rx="8" ry="8" x="0" y="0" width="1080" height="860">
        </rect>
    </svg>
    <div id="LOGIN">
        <span>LOGIN</span>
    </div>
    <svg class="Rectangle_6">
        <rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="8" height="33">
        </rect>
    </svg>

    <svg class="Path_8" viewBox="0 0 446.452 80">
        <path id="Path_8" d="M 0 0 L 446.4515991210938 0 L 446.4515991210938 79.99999237060547 L 0 79.99999237060547 L 0 0 Z">
        </path>
    </svg>
    <svg class="Path_9" viewBox="0 0 446.452 80">
        <path id="Path_9" d="M 0 0 L 446.4515991210938 0 L 446.4515991210938 79.99999237060547 L 0 79.99999237060547 L 0 0 Z">
        </path>
    </svg>

    <div id="INPUTEMAIL">
        <input type="text" value="example@alta.com.vn" " style="height: 40px; width: 400px;"/>
    </div>

    <div id="INPUT_PASS">
        <input type="text" style="height: 40px; width: 400px;"/>
    </div>

    <div id="PASSWORD">
        <span>PASSWORD</span>
    </div>
    <div id="Forgot_password">
      <button>Forgot password?</button>
    </div>

    <div id="EMAIL">
        <span>EMAIL</span>
    </div>

    <svg class="Rectangle_4">
        <rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="6" height="80">
        </rect>
    </svg>
    <svg class="Path_12" viewBox="1810.156 273.003 1 1">
        <path id="Path_12" d="M 1810.155639648438 273.0034790039062">
        </path>
    </svg>
    <div id="Loyalty_Program">
        <span>Loyalty Program</span>
    </div>
    <svg class="Rectangle_357">
        <rect id="Rectangle_357" rx="0" ry="0" x="0" y="0" width="112" height="36">
        </rect>
    </svg>
    <div id="Group_568">
        <div id="Login">
            <span>Login</span>
        </div>
        <div id="Group_482">
            <svg class="Path_10" viewBox="170.666 0 15.344 24">
                <path id="Path_10" d="M 184.091796875 0 L 172.5840148925781 0 C 171.5262298583984 0 170.6660461425781 0.8969531059265137 170.6660461425781 2.000015735626221 L 170.6660461425781 5.500031471252441 C 170.6660461425781 5.776405811309814 170.8805084228516 6.000047206878662 171.1455383300781 6.000047206878662 C 171.4105834960938 6.000047206878662 171.6250305175781 5.776406764984131 171.6250305175781 5.500031471252441 L 171.6250305175781 2.000015735626221 C 171.6250305175781 1.448765635490417 172.0553588867188 1.000031232833862 172.5840148925781 1.000031232833862 L 184.091796875 1.000031232833862 C 184.6204528808594 1.000031232833862 185.05078125 1.448765635490417 185.05078125 2.000015735626221 L 185.05078125 22.00002861022949 C 185.05078125 22.5512809753418 184.6204528808594 23.00001525878906 184.091796875 23.00001525878906 L 172.5840148925781 23.00001525878906 C 172.0553588867188 23.00001525878906 171.6250305175781 22.5512809753418 171.6250305175781 22.00002861022949 L 171.6250305175781 18.50001525878906 C 171.6250305175781 18.22364044189453 171.4105834960938 18 171.1455383300781 18 C 170.8805084228516 18 170.6660461425781 18.22364044189453 170.6660461425781 18.50001525878906 L 170.6660461425781 22.00002861022949 C 170.6660461425781 23.1030445098877 171.5262145996094 24.00004386901855 172.5840148925781 24.00004386901855 L 184.091796875 24.00004386901855 C 185.1495819091797 23.99999809265137 186.009765625 23.1030445098877 186.009765625 21.9999828338623 L 186.009765625 2.000015735626221 C 186.009765625 0.8969531059265137 185.1495819091797 0 184.091796875 0 Z">
                </path>
            </svg>
            <svg class="Path_11" viewBox="0 128.003 17.762 14.508">
                <path id="Path_11" d="M 11.01434803009033 141.4601440429688 C 10.8134183883667 141.6856384277344 10.79995632171631 142.0681610107422 10.98400211334229 142.3143463134766 C 11.08132362365723 142.4442443847656 11.2143030166626 142.5103149414062 11.34779357910156 142.5103149414062 C 11.46680641174316 142.5103149414062 11.58628177642822 142.4577789306641 11.68119812011719 142.3515167236328 L 17.60176658630371 135.7021331787109 C 17.70389938354492 135.5876007080078 17.76171875 135.4258575439453 17.76171875 135.2564086914062 C 17.76171875 135.0869750976562 17.70389938354492 134.9252319335938 17.60176658630371 134.8106994628906 L 11.68119812011719 128.1613006591797 C 11.47929382324219 127.9358062744141 11.16855907440186 127.9529113769531 10.98400211334229 128.1984710693359 C 10.79995536804199 128.4446563720703 10.81341743469238 128.8271789550781 11.01434803009033 129.0526733398438 L 16.00011444091797 134.6519012451172 L 0.4933964610099792 134.6519012451172 C 0.2206800878047943 134.6519012451172 1.89080395784913e-09 134.9222869873047 1.89080395784913e-09 135.2564086914062 C 1.89080395784913e-09 135.5905456542969 0.2206800878047943 135.8609161376953 0.4933964610099792 135.8609161376953 L 16.00015830993652 135.8609161376953 L 11.01434803009033 141.4601440429688 Z">
                </path>
            </svg>
        </div>
    </div>
</div>

